/* COLORS */
$color-primary: #ff555f;
$color-secondary: #00aecf;
$color-black: #212121;
$color-white: #ffffff;
$color-lt-gray: #d2d2d2;

/* FONTS */
$font-primary: 'Georgia';
$font-secondary: 'Arial';

/* BREAKPOINTS */
$screen-xl: 1728px;
$screen-lg: 1440px;
$screen-md: 1024px;
$screen-sm: 660px;
$screen-xs: 390px;