/* COLORS */
$color-primary: #ff555f;
$color-secondary: #00aecf;
$color-black: #212121;
$color-white: #ffffff;
$color-lt-gray: #d2d2d2;

/* FONTS */
$font-primary: 'Georgia';
$font-secondary: 'Arial';