.dashboard {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    gap: 20px;
    height: 100vh;
    @media screen and (max-width: $screen-md) {
        height: auto;
    }
}